@page
@model AspNetCore.Pages.Customer.Cart.SummaryModel
@inject IOptions<AspNetCore.Utility.StripeSetting> Stripe
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "Summary";
}
<script src="~/js/checkout.js">

</script>
<form method="post">
    <br />
    @if (Model.detailsCart.listCart.Count > 0)
    {
        <input asp-for="@Model.detailsCart.listCart[0].ApplicationUserId" hidden />

        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Order Summary
                        </div>
                        <div class="col-6 text-right">
                            <a asp-page="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">PickUp Details:</span>
                                        </h4>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="txtName" asp-for="@Model.detailsCart.OrderHeader.PickupName" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>PhoneNumber</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="txtPhoneNumber" asp-for="@Model.detailsCart.OrderHeader.PhoneNumber" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Pickup Date</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="datepicker" autocomplete="off" value="" asp-for="@Model.detailsCart.OrderHeader.PickUpDate" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Pickup Time</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="timepicker" value="" asp-for="@Model.detailsCart.OrderHeader.PickUpTime" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Additional Instructions:</label>
                                        </div>
                                        <div class="col-9">
                                            <textarea asp-for="@Model.detailsCart.OrderHeader.Comments" style="height:100px;" class="form-control"></textarea>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-12 col-lg-5 offset-lg-1">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Order Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{ var total = 0.0;}
                                        @foreach (var details in Model.detailsCart.listCart)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@details.MenuItem.Name</h6>
                                                    <small class="text-muted">Quantity: @details.Count</small>
                                                </div>
                                                <span class="text-muted">₹@(details.MenuItem.Price* details.Count)</span>
                                                @{ total += (details.MenuItem.Price * details.Count);}
                                            </li>
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-info">Total (INR)</small>
                                            <strong class="text-info">₹@total.ToString("0.00")</strong>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-4 offset-md-8">

                                @{ 
                                    var OrderTotalStripe = Model.detailsCart.OrderHeader.OrderTotal * 100;
                                }
                                <script  src="~/js/checkout.js">
                                        class="stripe-button"
                                        data-key="@Stripe.Value.Publishablekey"
                                        data-currency="INR"
                                        data-amount="@OrderTotalStripe"
                                        data-name="AspNet Core Test"
                                        data-lable="Place Order"
                                        data-description="Good Food"
                                        data-locale="auto"
                                        data-allow-remember-me="false"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">

                                </script>
                                <script>
                                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                                </script>
                                <button id="btnPlaceOrder" onclick="return ValidateInput()" type="submit" value="Place Order" class="btn btn-success form-control">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</form>

@section Scripts{
    <script>
        $(function () {
            $("#datepicker").datepicker({ minDate: 1, maxDate: "+1W" })
            $("#timepicker").timepicker({ 'minTime': '11:00AM', 'maxTime': '9:00 PM', step: '30' });
        });

        function ValidateInput() {
            var name = document.getElementById("txtName").value;
            var phone = document.getElementById("txtPhoneNumber").value;
            var dt = document.getElementById("datepicker").value;
            var time = document.getElementById("timepicker").value;

            if (name.toString() == '') {
                swal("Error", "Please Enter Name", "error");
                return false;
            }
            if (phone.toString() == '') {
                swal("Error", "Please Enter Phone Number", "error");
                return false;
            }
            if (dt.toString() == '') {
                swal("Error", "Please Select Date", "error");
                return false;
            }

            if (time.toString() == '') {
                swal("Error", "Please Select Time", "error");
                return false;
            }

            return true;
        }

    </script>
}


